.new-chat-container {
  max-width: 100%;
  position: relative;
  min-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
  margin: 20px auto;
  border: 2px solid;

  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  // .welcome-msg {
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   text-align: center;
  //   margin-bottom: 10px;
  //   font-weight: bold;
  //   font-size: 18px;
  //   color: #333;
  // }

  .chat-history {
    width: 100%;
    height: max-content;
    max-height: calc(100vh - 200px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: darken(#ccc, 20%);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: lighten(#ccc, 20%);
    }

    .msg-all-container {
      @include flexCol(flex-start, flex-start);
      flex-direction: column-reverse;
      .msg-status {
        .icon {
          &.liked {
            color: #4caf50;
          }
          &.disliked {
            color: #f44336;
          }
        }
      }
      .message {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;

        &.user {
          flex-direction: row-reverse;
        }

        &.assistant {
          flex-direction: row;
        }

        .msg-wrapper {
          max-width: 80%;
          width: max-content;
          display: flex;
          align-items: center;
          gap: 10px;

          &.assistant-wrap {
            justify-content: flex-start;
          }

          &.user-wrap {
            justify-content: flex-end;
          }

          .msg {
            max-width: 75%;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
          }

          .msg-role {
            flex-shrink: 0;
            .bot,
            .user {
              height: 30px;
              width: 30px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .feedback-data {
    width: 100%;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    @include flexCol(center, center);
    gap: 10px;
  }

  .input-container {
    width: 100%;
    display: flex;
    padding: 10px 0;

    .input-field {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px;

      &:focus {
        outline: none;
        border-color: #4caf50;
      }
    }

    .send-btn {
      min-width: 100px;
      margin-right: 10px;
      padding: 8px 15px;
      border: none;
      border-radius: 5px;
      background-color: #4caf50;
      border: 1px solid transparent;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#4caf50, 10%);
      }

      &:disabled {
        background-color: lighten(#4caf50, 10%);
        cursor: not-allowed;
      }

      .loader {
        border: 3px solid #f3f3f3;
        border-top: 3px solid #3498db;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        animation: spin 1s linear infinite;
      }
    }

    .end-btn {
      min-width: 100px;
      padding: 8px 15px;
      border: none;
      border-radius: 5px;
      color: #4caf50;
      background-color: white;
      border: 1px solid #4caf50;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        color: darken(#4caf50, 10%);
      }

      &:disabled {
        color: lighten(#4caf50, 10%);
        cursor: not-allowed;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
