.chat-window-container {
  height: 100%;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &.full-width {
    width: 100%;
  }
  .sidebar-switch {
    // border: 1px solid red;
    width: 3%;
    height: calc(100vh - 160px);

    @include flexCol(center, center);
    gap: 10px;

    .icon {
      font-size: 24px;
    }
  }

  .chat-container {
    width: 95%;
  }
}
