// ------------------------------------------------**-Typography-**------------------------------------------------
.h-1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.h-2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.h-3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.h-4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.h-5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.p-1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.p-2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.p-3 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.p-4 {
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 500px) {
  .h-1 {
    font-size: 40px;
    line-height: 48px;
  }

  .h-2 {
    font-size: 28px;
    line-height: 36px;
  }

  .h-3 {
    font-size: 20px;
    line-height: 28px;
  }

  .h-4 {
    font-size: 16px;
    line-height: 22px;
  }

  .h-5 {
    font-size: 14px;
    line-height: 18px;
  }

  .p-1 {
    font-size: 14px;
    line-height: 18px;
  }

  .p-2 {
    font-size: 12px;
    line-height: 16px;
  }

  .p-3 {
    font-size: 10px;
    line-height: 14px;
  }

  .p-4 {
    font-size: 8px;
    line-height: 12px;
  }
}

// ------------------------------------------------**-Color Panels-**------------------------------------------------

.light-color-panel-1 {
  color: #34495e;
  border-color: #34495e;
  background-color: #ecf0f1;
}

.dark-color-panel-1 {
  color: #bdc3c7;
  border-color: #bdc3c7;
  background-color: #34495e;
}

.light-color-panel-2 {
  color: rgb(64, 71, 95);
  border-color: rgb(64, 71, 95);
  background-color: rgba(194, 194, 254, 0.5);
}

.dark-color-panel-2 {
  color: rgba(194, 194, 254, 0.5);
  border-color: rgba(194, 194, 254, 0.5);
  background-color: rgb(64, 71, 95);
}

.light-color-panel-3 {
  color: #353b4b;
  border-color: #353b4b;
  background-color: #fff;
}

.dark-color-panel-3 {
  color: #fff;
  border-color: #fff;
  background-color: #353b4b;
}

.user-l-p {
  color: #726dfe;
  border: #726dfe;
  background: #ecf0f1;
}

.bot-l-p {
  color: #454d62;
  border: #454d62;
  background: #ecf0f1;
}

.user-d-p {
  color: #fff;
  border: #726dfe;
  background: #726dfe;
}

.bot-d-p {
  color: #fff;
  border: #454d62;
  background: #454d62;
}

// ------------------------------------------------**-Box Shadow-**------------------------------------------------
.box-show-1 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.box-show-2 {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

// ------------------------------------------------**-@mixin-**------------------------------------------------

@mixin flex-container(
  $direction: row,
  $justify-content: flex-start,
  $align-items: flex-start
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-item($flex: 0 1 auto) {
  flex: $flex;
}

@mixin flexRow($justify-content: flex-start, $align-items: flex-start) {
  @include flex-container(row, $justify-content, $align-items);
}

@mixin flexCol($justify-content: flex-start, $align-items: flex-start) {
  @include flex-container(column, $justify-content, $align-items);
}
